jupyter
ipykernel
diffusers[torch]
transformers
datasets
peft 
matplotlib 
scikit-image 
torchmetrics[multimodal] 
image-reward 
bitsandbytes 
mediapy 
av==13
imageio[pyav] 
git+https://github.com/openai/CLIP.git
sentencepiece
sentence-transformers
torch~=2.5
torchvision
triton==3.1.0
